[submodule "packages/server"]
	path = packages/server
	url = https://github.com/MadhuMPandurangi/hospitalrun-server.git
[submodule "packages/components"]
	path = packages/components
	url = https://github.com/MadhuMPandurangi/components.git
[submodule "packages/frontend"]
	path = packages/frontend
	url = https://github.com/MadhuMPandurangi/hospitalrun-frontend.git
[submodule "packages/core"]
	path = packages/core
	url = https://github.com/MadhuMPandurangi/hospitalrun-core.git
[submodule "packages/cli"]
	path = packages/cli
	url = https://github.com/MadhuMPandurangi/cli.git
